---
media: screen
tags: stylesheet
---

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  row-gap: 2rem;
}

.heading {
  text-align: center;
  margin: 0;
}

iframe {
  height: 102px;
  justify-self: center;
  width: min(calc(100vw - 32px), 400px);
}

.logo {
  justify-self: center;
  width: 24rem;
  max-width: 100vw;
}

.episode-article {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 0 1rem;
}

.episode-title {
  font-family: Futura, sans-serif;
  margin: 0;
  max-width: 32rem;
}

.episode-embed {
  border-radius: 12px;
  max-width: 32rem;
}

.episode-latest {
  background: #111;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
}

.episode-title-latest {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-title-latest-prefix {
  font-size: 1rem;
  color: hotpink;

  @media (min-width: 32rem) {
    font-size: 1.4rem;
  }
}

.episode-title-latest-title {
  text-align: center;

  @media (min-width: 32rem) {
    font-size: 3rem;
  }
}